@import "bootstrap/bootstrap.less";
@import "variables.less"; 

html{
    height:100%;
}
body > .container{
    padding-top:10px;
}
body {
        height:100%;
        min-width: 600px;
	.container{

		.navbar-right{
			a{
				padding:7px 0;
			}
		}	
		
		.navbar-toggle .icon-bar{
			width:30px;
		}
		
		.navbar-nav > li > a{
                    padding-left:8px;
                    padding-right:8px;
                    text-align:center;
		}
                .navbar{
                    margin-bottom: 7px;
                    border: 0px; 
                }

                .breadcrumb{
                    margin-bottom: 0px;
                }          
            
            .grid-view{
                font-size: 12px; 
                color:black;
            }
	}
	footer {
            text-align:center;
            background: #ddd;
            color: #333;
            font-size: 11px;
            position: relative;
            .container {			
                height: 110px;
            }
            .center-block{
                margin: 0 auto;
                
            }
            margin-top: 20px;
            padding:20px;
	}
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	background: #E6EFC2;
	border-color: #C6D880;
}
 .image-limit{
    max-width:200px;
    max-height:200px;
}
#logo{
    text-align:center;
    font-size:2em;
}
.navbar{
    background: #7ABCFF;
}