/*description*/
@body-bg: #f8f8f8; 
@navbar-default-link-hover-bg:          #ddd;/*  #9C9;  transparent;*/
@navbar-default-bg:                     #f8f8f8;
@navbar-default-link-active-bg:         #aaa    ;/*#7ABCFF; */

// Navbar toggle
@navbar-default-toggle-hover-bg:        #ddd;/*#9C9; */

//** Hover background for dropdown links.
@dropdown-link-hover-bg:                #ddd;/* #9C9; */

//** Active dropdown menu item background color.
@dropdown-link-active-bg:               #aaa;

//** Background color on `.list-group-item`
@list-group-hover-bg:                         #ddd  ;/* #fff; */

@list-group-active-bg:                  #aaa;

//** Breadcrumb background color
@breadcrumb-bg:                         transparent;
